/*Footer*/

footer {
    background-color: #333; // Color de fondo del footer
    color: #fff;            // Color del texto del footer
    padding: 20px;         // Espacio interno del footer
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    align-items: center ;
}
} 

